<div class="container">
    <h2 class="text-center mt-3">{{doc.title}}</h2>
    <p><b class="title">Department:</b>  {{doc.depart.name}}</p>
    <p><b class="title">Category:</b>  {{doc.category.name}}</p>
    <br/>
    {{#if doc.files}}
      <ul>
      {{#each doc.files as |file|}}
        {{#ifCond file '!==' ''}}
          <li><a href="{{file}}" class="alert-link" target="_blank">Attached File</a></li>
        {{/ifCond}}
      {{/each}}
      </ul>
    {{/if}}    
    <h4 class="mb-3 text-center"><u>Content:</u></h4>
    <div class="contDoc">
      {{{doc.contentHtml}}}
    </div>
    <a class="btn btn-info mt-3" href="/documents/{{doc.id}}/edit"><i class="fa fa-pencil" aria-hidden="true"></i> Edit  Content</a>

    <h5 class="mb-4 mt-4"><i class="fa fa-comments mr-3"></i>Comments</h5>

    {{> commentForm doc}}
 
    <input type="hidden" value="{{doc.id}}" id="docuId">
    <div id="commentCont">
      
    </div>


</div>

<script type="text/javascript" src="/js/comment.js"></script>
<script>
document.addEventListener("DOMContentLoaded",() => {
  getComments()
})
</script>
