<div class="container">
    <h2 class="text-center mt-3">{{doc.title}}</h2>
    <h4>Department: {{doc.depart.name}}</h4> 
    <h4>Category: {{doc.category.name}}</h4> 
    <a href="{{doc.files}}" class="alert-link" target="_blank">Attached File</a>
        
    <h4 class="mb-3 text-center"><u>Content:</u></h4>
    <div name="content">{{doc.content}}</div>

    <a class="btn btn-info" href="/documents/{{doc.id}}/edit"><i class="fa fa-pencil" aria-hidden="true"></i> Edit  Content</a>
</div>
